# Server configuration required:
#
#<Directory />
#   AllowOverride All
#   Order allow,deny
#   Allow from all
#</Directory>

ErrorDocument 400 /error/400
ErrorDocument 401 /error/401
ErrorDocument 403 /error/403
ErrorDocument 404 /index.php
ErrorDocument 500 /error/500