a
{
	color: #CCC;
	text-shadow: 0 1px 1px black;
    -webkit-text-shadow: 0 1px 1px black;
    -moz-text-shadow: 0 1px 1px black;
    -o-text-shadow: 0 1px 1px black;
	transition: all .25s;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-o-transition: all .25s;
}

	a:hover
	{
		color: white;
		text-shadow: 0 -1px 1px white;
		-webkit-text-shadow: 0 -1px 1px white;
		-moz-text-shadow: 0 -1px 1px white;
		-o-text-shadow: 0 -1px 1px white;
	}

article
{
    min-width: 50%;
    float: left;
    padding: 0px;
    margin: 0;
    border: 0;
}

aside
{
    max-width: 50%;
    float: right;
    padding: 0px;
    margin: 0;
    border: 0;
}

body
{
    padding: 0;
    margin: 0;
    border: 0;
    background-image: url('img/schrimp_background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: contain;
    background-color: dimgrey;
    color: slategrey;
}

footer
{
    padding: 3px;
    margin: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6
{
    padding: 0;
    margin: 0;
    border: 0;
}

header
{
    padding: 3px;
    margin: 0;
    border: 0;
}

nav
{
    padding: 3px;
    margin: 0;
    border: 0;
}

section
{
    padding: 3px;
    margin: 0;
    border: 0;
}