a
{
	color: whitesmoke;
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
}

a:hover
{
	color: white;
	text-shadow: 0 0 5px white;
	-webkit-text-shadow: 0 0 5px white;
	-moz-text-shadow: 0 0 5px white;
	-o-text-shadow: 0 0 5px white;
}

article
{
    min-width: 50%;
    float: left;
    padding: 0px;
    margin: 0;
    border: 0;
}

aside
{
    max-width: 50%;
    float: right;
    padding: 0px;
    margin: 0;
    border: 0;
}

body
{
    padding: 0;
    margin: 0;
    border: 0;
    background-image: url('schrimp_background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: contain;
    background-color: dimgrey;
    color: lavender;
}

footer
{
    padding: 3px;
    margin: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6
{
    padding: 0;
    margin: 0;
    border: 0;
}

header
{
    padding: 3px;
    margin: 0;
    border: 0;
}

nav
{
    padding: 3px;
    margin: 0;
    border: 0;
}

section
{
    padding: 3px;
    margin: 0;
    border: 0;
}