@CHARSET 'UTF-8';

body {
	transition: .5s;
        -webkit-transition: .5s;
        -khtml-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
    opacity: 0;
        -webkit-opacity: 0;
        -khtml-opacity: 0;
        -moz-opacity: 0;
        -ms-opacity: 0;
        -o-opacity: 0;
}

div#header > div.box
{
	position: fixed;
	top: 5px;
	right: 5px;
}

div#header > div.box > div,
div#nav > div.box > div
{
    width: 25px;
    height: 21px;
    overflow: hidden;
    color: #999;
}

div#header > div.box:hover > div,
div#nav > div.box:hover > div
{
    width: auto;
    height: auto;
}

div#header > div.box > div > span.marker,
div#nav > div.box > div > span.marker
{
    font-size: 28px;
    width: 25px;
    vertical-align: bottom;
    color: white;
    display: inline-block;
    line-height: 18px;
    text-align: center;
}

div#header > div.box:hover > div > span.marker,
div#nav > div.box:hover > div > span.marker
{
    display: none;
}

div#loading
{
	position: absolute;
	left: 0;
	top: -100%;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: black;
	background-image: url('../img/anim_loading.gif');
	background-position: center center;
	background-size: auto 50%;
	background-repeat: no-repeat;
	opacity: 0;
	    -webkit-opacity: 0;
        -khtml-opacity: 0;
        -moz-opacity: 0;
        -ms-opacity: 0;
        -o-opacity: 0;
	transition: opacity .5s;
	    -webkit-transition: opacity .5s;
        -khtml-transition: opacity .5s;
        -moz-transition: opacity .5s;
        -ms-transition: opacity .5s;
        -o-transition: opacity .5s;
}

div#nav > div.box
{
    position: fixed;
    bottom: 5px;
    right: 5px;
}
