@CHARSET 'UTF-8';

article, #article
{
    box-shadow: inset 0 0 1px rgba(0, 0, 255, .5);
}

aside, #aside
{
    box-shadow: inset 0 0 1px rgba(0, 255, 255, .5);
}

body
{
    box-shadow: inset 0 0 1px rgba(255, 255, 0, .5);
}

div.debug
{
    padding: 0.25%;
    width: 99.5%;
    transition: .25s;
        -webkit-transition: .25s;
        -khtml-transition: .25s;
        -moz-transition: .25s;
        -ms-transition: .25s;
        -o-transition: .25s;
    opacity: .125;
}

div.fixed {
    position: fixed;
}

div#schrimp-debug
{
    background-color: #000;
    color: #0f0;
    bottom: 0;
    left: 0;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 5px;
    box-shadow: 0 -1px 2px #000;
        -webkit-box-shadow: 0 -1px 2px #000;
        -khtml-box-shadow: 0 -1px 2px #000;
        -moz-box-shadow: 0 -1px 2px #000;
        -ms-box-shadow: 0 -1px 2px #000;
        -o-box-shadow: 0 -1px 2px #000;
}
    div#schrimp-debug:hover
    {
        opacity: .75;
        z-index: 1;
        font-size: 10px;
    }
    div#schrimp-debug > .schrimp-warning {
        color: #ff0;
    }
    div#schrimp-debug > .schrimp-error {
        color: #f00;
    }

div#schrimp-object
{
    background-color: #999;
    color: #000;
    top: 99.5%;
    left: 0;
    font-size: 13px;
    font-family: "Lucida Console", Monaco, monospace;
    box-shadow: 0 -1px 2px #fff;
        -webkit-box-shadow: 0 -1px 2px #fff;
        -khtml-box-shadow: 0 -1px 2px #fff;
        -moz-box-shadow: 0 -1px 2px #fff;
        -ms-box-shadow: 0 -1px 2px #fff;
        -o-box-shadow: 0 -1px 2px #fff;
    z-index: 1;
}
    div#schrimp-object:hover
    {
        opacity: .75;
        top: 55px;
        height: 100%;
    }

div#schrimp-toolbar
{
    background-color: #fff;
    color: #000;
    top: 0;
    left: 0;
    font-size: 13px;
    box-shadow: 0 1px 2px #fff;
        -webkit-box-shadow: 0 1px 2px #fff;
        -khtml-box-shadow: 0 1px 2px #fff;
        -moz-box-shadow: 0 1px 2px #fff;
        -ms-box-shadow: 0 1px 2px #fff;
        -o-box-shadow: 0 1px 2px #fff;
}
    div#schrimp-toolbar:hover
    {
        opacity: .75;
        z-index: 1;
    }
        div#schrimp-toolbar > span > *
        {
            margin-left: 5px;
            float: left;
            color: #000;
            text-decoration: none;
            text-shadow: none;
        }
        div#schrimp-toolbar > span > a
        {
            background-color: #eee;
            padding: 2px 5px 0;
        }
            div#schrimp-toolbar > span > a:hover
            {
                opacity: .333;
            }

footer, #footer
{
    box-shadow: inset 0 0 1px rgba(0, 255, 0, .5);
}

header, #header
{
    box-shadow: inset 0 0 1px rgba(255, 127, 0, .5);
}

nav, #nav
{
    box-shadow: inset 0 0 1px rgba(255, 0, 0, .5);
}

section, #section
{
    box-shadow: inset 0 0 1px rgba(255, 0, 255, .5);
}