@CHARSET 'UTF-8';

.hidden
{
    width: 0;
    height: 0;
    overflow: hidden;
    display: none;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

a
{
    color: #CCC;
    text-shadow: 0 1px 1px #000;
    transition: .125s;
}

    a:hover
    {
        color: #fff;
        text-shadow: 0 -1px 1px #fff;
    }

address
{
    display: inline;
}

article, div#article
{
    float: left;
    padding: 0;
    margin: 0;
    border: 0;
}

aside, div#aside
{
    float: right;
    padding: 0;
    margin: 0;
    border: 0;
}

body
{
    padding: 0;
    margin: 0;
    border: 0;
    background-image: url('../img/schrimp_background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: contain;
    background-color: #666;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}
    div#nav > div.box::-webkit-scrollbar
	{
	    border-radius: 1px;
	    width: 5px;
	}
	div#nav > div.box::-webkit-scrollbar-thumb
    {
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 5%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 95%, rgba(255,255,255,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(5%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)), color-stop(95%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 5%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 95%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 5%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 95%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 5%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 95%,rgba(255,255,255,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 5%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 95%,rgba(255,255,255,0) 100%); /* W3C */
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    }

br.clearfix
{
    clear: both;
}

.button
{
    padding: 1px 3px;
    border: solid 1px #000;
    border-radius: 3px;
    transition: .125s;
}
    span.button
    {
        padding: 1px 3px;
        float: left;
        margin-top: 1px;
        height: 16px;
    }
    a.button,
    input.button
    {
        box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    }
        input.button:hover
        {
            opacity: .333;
            cursor: pointer;
        }

div
{
    padding: 0;
    margin: 0;
    border: 0;
    float: left;
    word-wrap: break-word;
}

div.box
{
    margin: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, .125);
    border: solid 1px transparent;
    border-top-color: #111;
    border-left-color: #444;
    border-right-color: #999;
    border-bottom-color: #ccc;
    border-radius: 5px;
    transition: .5s;
}

    div.box:hover
    {
        background-color: rgba(63, 63, 63, .5);
        border-top-color: #ccc;
        border-left-color: #999;
        border-right-color: #444;
        border-bottom-color: #111;
    }

div.high
{
    background-color: #999;
    box-shadow: 0 1px 1px #000;
}

    div.high:hover
    {
        background-color: #ccc;
        box-shadow: 0 2px 2px #000;
    }

footer, div#footer
{
    padding: 0;
    margin: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6, h7
{
    padding: 0;
    margin: 0;
    border: 0;
}

header, div#header
{
    padding: 0;
    margin: 0;
    border: 0;
}

nav, div#nav
{
    padding: 0;
    margin: 0;
    border: 0;
}
    div#nav > div
    {
        max-height: 90%;
        overflow-y: scroll;
    }
    
pre
{
    display: inline;
}

section, div#section
{
    padding: 0;
    margin: 0;
    border: 0;
}

select
{
    cursor: pointer;
}

ul
{
    padding: 0 5px 5px 0;
    margin: 0 0 0 10px;
    border: 0;
    list-style: none;
}