@CHARSET 'UTF-8';

a
{
    color: #CCC;
    text-shadow: 0 1px 1px #000;
        -webkit-text-shadow: 0 1px 1px #000;
        -khtml-text-shadow: 0 1px 1px #000;
        -moz-text-shadow: 0 1px 1px #000;
        -ms-text-shadow: 0 1px 1px #000;
        -o-text-shadow: 0 1px 1px #000;
    transition: .125s;
        -webkit-transition: .125s;
        -khtml-transition: .125s;
        -moz-transition: .125s;
        -ms-transition: .125s;
        -o-transition: .125s;
}

    a:hover
    {
        color: #fff;
        text-shadow: 0 -1px 1px #fff;
            -webkit-text-shadow: 0 -1px 1px #fff;
            -khtml-text-shadow: 0 -1px 1px #fff;
            -moz-text-shadow: 0 -1px 1px #fff;
            -ms-text-shadow: 0 -1px 1px #fff;
            -o-text-shadow: 0 -1px 1px #fff;
    }

address
{
    display: inline;
}

article, div#article
{
    float: left;
    padding: 0;
    margin: 0;
    border: 0;
}

aside, div#aside
{
    float: right;
    padding: 0;
    margin: 0;
    border: 0;
}

body
{
    padding: 0;
    margin: 0;
    border: 0;
    background-image: url('../img/schrimp_background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: contain;
    background-color: #666;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

br.clearfix
{
    clear: both;
}

div
{
    padding: 0;
    margin: 0;
    border: 0;
    float: left;
    word-wrap: break-word;
}

div.box
{
    margin: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, .125);
    border: solid 1px transparent;
    border-top-color: #111;
    border-left-color: #444;
    border-right-color: #999;
    border-bottom-color: #ccc;
    border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    transition: .5s;
        -webkit-transition: .5s;
        -khtml-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
}

    div.box:hover
    {
        background-color: rgba(63, 63, 63, .5);
        border-top-color: #ccc;
        border-left-color: #999;
        border-right-color: #444;
        border-bottom-color: #111;
    }

div.high
{
    background-color: #999;
    box-shadow: 0 1px 1px #000;
        -webkit-box-shadow: 0 1px 1px #000;
        -khtml-box-shadow: 0 1px 1px #000;
        -moz-box-shadow: 0 1px 1px #000;
        -ms-box-shadow: 0 1px 1px #000;
        -o-box-shadow: 0 1px 1px #000;
}

    div.high:hover
    {
        background-color: #ccc;
        box-shadow: 0 2px 2px #000;
            -webkit-box-shadow: 0 2px 2px #000;
            -khtml-box-shadow: 0 2px 2px #000;
            -moz-box-shadow: 0 2px 2px #000;
            -ms-box-shadow: 0 2px 2px #000;
            -o-box-shadow: 0 2px 2px #000;
    }

footer, div#footer
{
    padding: 0;
    margin: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6, h7
{
    padding: 0;
    margin: 0;
    border: 0;
}

header, div#header
{
    padding: 0;
    margin: 0;
    border: 0;
}

nav, div#nav
{
    padding: 0;
    margin: 0;
    border: 0;
}
    div#nav > div {
        max-height: 90%;
        overflow-y: scroll;
    }

section, div#section
{
    padding: 0;
    margin: 0;
    border: 0;
}

select {
    cursor: pointer;
}

ul
{
    padding: 0 5px 5px 0;
    margin: 0 0 0 5px;
    border: 0;
    list-style: none;
}
